body {
    padding: 10px;
}

.submitr{
    text-align: right;
}

.card img{
    max-height: 200px;
    max-width: 200px;
    width: auto;
}
.listing img{
    max-height: 400px;
    width: auto;
}
.listed:link, .listed:visited, .listed:active {
    color: black;
}
.txtfield{
    max-height: 100px;
}