textarea {
    min-height: 400px;
}
.mailContainer {
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* background-color: gray;
    color: white; */
}
.mailContainer div{
    text-align: right;
    margin: 0;
    padding: 0;
}
.mailContainer:hover{
    border-color: lightslategray;
    cursor: pointer;
}

