textarea {
    min-height: 400px;
}
.mailContainer {
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* background-color: gray;
    color: white; */
}
.body-mailContainer div,.footer-mailContainer{
    text-align: right;
    margin: 0px;
    padding: 0px;
}
.mailContainer:hover{
    border-color: lightslategray;
}
.body-mailContainer:hover{
    cursor: pointer;
}
#archive{
    text-align: right;
    margin: 2px;
    padding: 2px;
}

